# Today we rise

In [5]:
import pandas as pd
from math import log

#Its import timee!!

In [6]:
df = pd.read_csv("dataset.csv")
df.set_index('ID', inplace=True)
df.head(10)

# Check out the dataset

           Age  Income Student Credit Rate Class
ID
1        youth    high      no        fair    no
2        youth    high      no   excellent    no
3   middle age    high      no        fair   yes
4       senior  medium      no        fair   yes
5       senior     low     yes        fair   yes
6       senior     low     yes   excellent    no
7   middle age     low     yes   excellent   yes
8        youth  medium      no        fair    no
9        youth     low     yes        fair   yes
10      senior  medium     yes        fair   yes

In [7]:
# For the target class
info = 0
vc = df['Class'].value_counts(normalize=True)
for item in df['Class'].unique():
    info += -(vc[item] * log(vc[item], 2))

print(info)

0.9402859586706309

In [8]:
lala = list(df.columns)
lala.pop(-1)
lala  # This is the attributes list

['Age', 'Income', 'Student', 'Credit Rate']

In [9]:
for ooh in lala: # Attributes
    info_smol = 0 # small info
    vc_class = df.groupby(ooh)['Class'].value_counts(normalize=True) # Class value counts, target class
    vc_attr = vc = df[ooh].value_counts(normalize=True) # Attribute value counts, the one in ooh
    for item in df[ooh].unique(): # Unique values in attribute, eg. youth middle and old
        for target in vc_class[item].index:
            info_smol += -vc_attr[item]*vc_class[item][target]*log(vc_class[item][target], 2)   
    
    ig = info - info_smol
    print("Attribute: ", ooh)
    print("Table with target attribute: ")
    print(vc_class)
    print("Info = ", info_smol, "\nIG = ", ig)
    print()

Attribute:  Age
Table with target attribute:
Age         Class
middle age  yes      1.0
senior      yes      0.6
            no       0.4
youth       no       0.6
            yes      0.4
Name: Class, dtype: float64
Info =  0.6935361388961918
IG =  0.2467498197744391

Attribute:  Income
Table with target attribute:
Income  Class
high    no       0.500000
        yes      0.500000
low     yes      0.750000
        no       0.250000
medium  yes      0.666667
        no       0.333333
Name: Class, dtype: float64
Info =  0.9110633930116763
IG =  0.029222565658954647

Attribute:  Student
Table with target attribute:
Student  Class
no       no       0.571429
         yes      0.428571
yes      yes      0.833333
         no       0.166667
yes      yes      1.000000
Name: Class, dtype: float64
Info =  0.7711951058664204
IG =  0.16909085280421055

Attribute:  Credit Rate
Table with target attribute:
Credit Rate  Class
excellent    no       0.50
             yes      0.50
fair         yes      0.75
             no       0.25
Name: Class, dtype: float64
Info =  0.8921589282623617
IG =  0.04812703040826927