In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
df = pd.read_csv("IRIS.csv")
#df = pd.read_csv("housingdata.csv",
#                 names=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV'])
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
#df.species.unique()
df["species"]= df["species"].replace("Iris-setosa",1 )
df["species"]= df["species"].replace("Iris-versicolor",2 )
df["species"]= df["species"].replace("Iris-virginica",3 )

In [4]:
X = np.matrix(df.iloc[:,:-1])
Y = np.matrix(df.iloc[:,-1:])

In [5]:
def make_X_mat(dataset):
    return np.append(np.ones( (dataset.shape[0],1)) , dataset, axis=1)
Xn = make_X_mat(X)

In [20]:
def make_theta(Xn , Y):
    XT = Xn.T ##tanspose
    XTX_inv = np.dot(XT,Xn).I
    return np.dot(XTX_inv,np.dot(XT,Y))
theta = make_theta(Xn , Y)
#theta
print('m:\n',theta[1:])
print('b:\n',theta[1])

m:
 [[-0.10974146]
 [-0.04424045]
 [ 0.22700138]
 [ 0.60989412]]
b:
 [[-0.10974146]]

In [7]:
def predict(input_x):
    y_hat = 0
    for i in range(df.shape[1]-1):
        y_hat += input_x[i]*theta[i+1]
    return math.ceil(y_hat+theta[0])

In [8]:
input_x = np.array(list(input('Enter input:   ').split(' ')) , dtype='float64')
predict(input_x)

Enter input:   5.1 3.5 1.4 0.2

1

In [16]:
# Root Mean Squared Error
def RMSE():
    yhat = []
    for i in range(df.shape[0]):
        yhat.append((Y[i]-predict(X[i].T))**2)
    return (np.mean(yhat)/df.shape[0])**2
print('Root Mean Squared Error: ',"{:.10f}".format(RMSE()))

Root Mean Squared Error:  0.0000096790

m:
 [[-0.10974146]
 [-0.04424045]
 [ 0.22700138]
 [ 0.60989412]]
b:
 [[-0.10974146]]
 
Enter input:   5.1 3.5 1.4 0.2
1

Root Mean Squared Error:  0.0000096790